In [42]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
import numpy as np

In [51]:
#This is just a test to ensure to see if pushing a dataframe to a table works
test = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
test

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [43]:
neighbor = pd.read_csv('Berlin_airbnb/neighbourhoods.csv')
calendar = pd.read_csv('Berlin_airbnb/calendar_summary.csv')
listings = pd.read_csv('Berlin_airbnb/listings_clean.csv')

In [45]:
alchemyEngine  = create_engine('postgresql://sairamsubramaniam:@localhost:5432/Berlin_Airbnb');
postgreSQLConnection = alchemyEngine.connect();

In [49]:
def to_sql(dataframe, table_name):
    try:
        frame = dataframe.to_sql(table_name, postgreSQLConnection, if_exists='fail');

    except ValueError as vx:
        print(vx)

    except Exception as ex:  
        print(ex)

    else:
        print(f"PostgreSQL Table {table_name} has been created successfully.");

    finally:
        postgreSQLConnection.close();

In [52]:
#Verified it works
to_sql(test, "Test_Table")

(sqlalchemy.exc.ResourceClosedError) This Connection is closed
[SQL: select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s]